
<div class="container-fluid shopping-card-list">
   
    <div class="shopping-list px-5 col-lg-6">
        <div class="empty-cart" *ngIf="shoppingCart.length ===0">
            <h4>Your cart is empty! </h4>
            <a routerLink='/products'>Return to product list</a>
        </div>
        
        <app-shopping-cart-item *ngFor="let element of shoppingCart" [shoppingCartItem]="element" (removeProduct)="removeProduct($event)"></app-shopping-cart-item>
    </div>

    <div class="purchase-form px-5 col-lg-6">
        <app-purchase-form></app-purchase-form>
        <p *ngIf="total>0" >
            <span style=" font-size:2.3em; font-weight: bold; color: blueviolet;"> Total: {{total}} </span>
        </p>
    </div>
    
</div>

