<div class="card product-detail" style="width: 20rem;height: auto;">
    <img class="card-img-top" src="{{product.url}}" alt="{{product.name}}">
    <div class="card-body">
      <h4 class="card-title">{{ product.name  }} </h4>
        <p class="card-text text-center">{{product.description}} </p>
      <p class="card-text text-center">{{product.price | currency:'FCFA'}} </p>
      <app-add-to-cart [product]="product"></app-add-to-cart>
      <a routerLink="/products" routerLinkActive="router-link-active"> Return to product list</a>
    </div>
  </div>