<div class="card product mx-3 my-3" style="width: 10rem;height: auto;">
    <a routerLink="/products/{{shoppingCartItem.id }}" routerLinkActive="router-link-active" >
        <img class="card-img-topimg img-fluid" src="{{shoppingCartItem.url}}" alt="{{shoppingCartItem.name}}">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{shoppingCartItem.name  }}</h5>
      <p class="card-text text-center">{{shoppingCartItem.price | currency:'FCFA'}} </p>
      <p class=""> Reservation:{{shoppingCartItem.reservation}}</p>
      <p>
      <!-- <input class="form-control" type="number" 
        min="1" max="{{shoppingCartItem.qty_available -(shoppingCartItem.reservation||0)}}" name="{{shoppingCartItem.reservation}}"
         [(ngModel)]="shoppingCartItem.reservation" >  
      </p> -->
    </div>
    <button class="btn btn-danger remove" (click)=" removeProductFromCart(shoppingCartItem)">Remove from cart</button>
</div>

